[Unit]
Description=EDGEPLANT R1 GPS Setup
Requires=ModemManager.service
BindsTo=dev-ttyGPS.device
After=dev-ttyGPS.device
Before=gpsd.service
Wants=gpsd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/start-gps.sh

[Install]
WantedBy=multi-user.target
WantedBy=dev-ttyGPS.device
