if SND_SOC

config SND_SOC_TEGRA186_JB01_ALT
	tristate "Soc Audio support for JB01 with MAX9867"
	depends on I2C
	depends on ARCH_TEGRA_210_SOC || ARCH_TEGRA_18x_SOC
	select SND_SOC_TEGRA210_XBAR_ALT
	select SND_SOC_TEGRA210_PCM_ALT
	select SND_SOC_TEGRA210_ADMA_ALT
	select SND_SOC_TEGRA210_ADMAIF_ALT
	select SND_SOC_TEGRA210_I2S_ALT
	select SND_SOC_TEGRA210_DMIC_ALT
	select SND_SOC_TEGRA210_AMX_ALT
	select SND_SOC_TEGRA210_ADX_ALT
	select SND_SOC_TEGRA210_MIXER_ALT
	select SND_SOC_TEGRA210_SFC_ALT
	select SND_SOC_TEGRA210_AFC_ALT
	select SND_SOC_TEGRA210_MVC_ALT
	select SND_SOC_TEGRA210_OPE_ALT
	select SND_SOC_TEGRA210_ADSP_ALT if TEGRA_NVADSP && !DISABLE_ADSP_AUDIO
	select SND_SOC_TEGRA186_ASRC_ALT if ARCH_TEGRA_18x_SOC
	select SND_SOC_TEGRA186_ARAD_ALT if ARCH_TEGRA_18x_SOC
	select SND_SOC_TEGRA186_DSPK_ALT if ARCH_TEGRA_18x_SOC
	select SND_SOC_SPDIF
	select SND_SOC_COMPRESS
	select SND_SOC_RT5640
	select SND_SOC_RT5659
	select SND_SOC_SGTL5000
	select SND_SOC_MAX9867_JB01
    help
	  Say Y or M here.

endif
